<div>
    <body>
    {{>layouts/header}}
            <form class = "container">

                {{#article}}

                    게시글 번호 : {{id}}
                    <br>
                    게시글 제목 : {{title}}
                    <br>
                    게시글 내용 : {{contents}}

                {{/article}}


            </form>





    {{>layouts/footer}}

    </body>
</div>