<div>
    인포 페이지

    {{#hospital}}
        {{id}}
        <br>
        {{openServiceName}}
        <br>

        {{openLocalGovernmentCode}}
        <br>

        {{managementNumber}}
        <br>

        {{licenseDate}}
        <br>

        {{businessStatus}}
        <br>

        {{businessStatusCode}}
        <br>

        {{phone}}
        <br>

        {{fullAddress}}
        <br>

        {{roadNameAddress}}
        <br>

        {{hospitalName}}
        <br>

        {{businessTypeName}}
        <br>

        {{healthcareProviderCount}}
        <br>

        {{patientRoomCount}}
        <br>

        {{totalNumberOfBeds}}
        <br>

        {{totalAreaSize}}
        <br>

    {{/hospital}}

</div>

